img[alt="Linkedin"] {
    width: 24px;
}

img[alt="Instagram"] {
    width: 24px;
}

img[alt="Youtube"] {
    width: 24px;
}

img[alt="Telegram"] {
    width: 24px;
}

img[alt="StackOverFlow"] {
    width: 24px;
}